$color_orange: #ff841c;
$color_yellow: #fdfd00;

@mixin border-bold($border-color: white) {
  border: 5px solid $border-color;
}

@mixin border-thin($border-color: white) {
  border: 4px solid $border-color;
}
