.cmccmcfndndndjvnvnvknnvknvdsmcm {

}
/*
dfdvmaskdvmkssdfasfasfcacmmdklava */ .mpigggggpppppdpdpdpg { 
  /* dfvnncncnhjfeifakdvknanknkvddfkmcadmascdkkdkdcmdkcmdkcdmkkkkkkkkkkkklsdmkcds
  cdkmckasfcmdklmcdlcmkdldamkovmdskmkvcodsmvmakmvdafmsdcnodavaocmkadcksakc
  dfsdfasfasfcacmmdklava */ height: 100vh;  
  /* dkdkeiuhfnc;lldkdjjdjfjhfhdsfiufafuihaijjafihuenkl */width: auto;
  /*fdasvmkodnfoafawoefneonanewnkaf */ position: fixed; 
  top: 0;/*  nfanfianvowanovfmnfoanafnankoanfanfewanfowefiwaenfaoefw */
/* } dampegeawifawejfowajfiewjafawiofjewfweajfiowefawiepfjiefjifmsdovmavaowivkw */
left: 50%;
transform: translateX(-50%);
}
