body {
  font-family: "MV Boil", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  color: black;
  font-size: 0.8rem;
  margin: 0;
}

a-scene {
  box-shadow: inset 0 0 100px black;
  filter: contrast(0.9) saturate(0.5);
  animation: pulse 2.5s infinite;
}

@keyframes pulse{
  0% {
    filter: contrast(0.9) saturate(0.5);
  }
  50% {
    filter: contrast(0.9) saturate(0.5) brightness(0.9);
  }
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.0); */
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 600px 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
  pointer-events: none;
}